body {
    background-color: red; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
    text-align: center; 
}
.back-button {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    color: white; 
    text-decoration: none; 
}